<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head.ejs") %>
    <body>
        <%- include("../partials/nav.ejs") %>
        <h1>Sign Up</h1>
        <form action="/sign-up" method="POST">
            <div>
                <label for="first_name">First Name</label>
                <input name="first_name" placeholder="First Name" type="text" />
            </div>
            <div>
                <label for="last_name">Last Name</label>
                <input name="last_name" placeholder="Last Name" type="text" />
            </div>
            <div>
                <label for="email">Email</label>
                <input name="email" placeholder="Email" type="email" required />
            </div>
            <div>
                <label for="password">Password</label>
                <input name="password" type="password" required />
            </div>
            <button type="submit">Sign Up</button>
        </form>
    </body>
</html>
