<% if(locals.errors || locals.messages.error) {%>
<ul class="form-errors-list">
    <% if(messages.error) {%>
    <li><%= messages.error %></li>
    <% } %> <% if(locals.errors) {%> <% errors.forEach(error => { %>
    <li><%= error.msg %></li>
    <% }) %> <% } %>
</ul>
<% } %>
