<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/posts">Posts</a></li>
        <% if(currentUser) { %>
        <li><a href="/posts/new">New Post</a></li>
        <li><a href="/log-out">Logout</a></li>
        <% } else{ %>
        <li><a href="/log-in">Log in</a></li>
        <li><a href="/sign-up">Sign Up</a></li>
        <% } %>
    </ul>
</nav>
