<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head.ejs") %>
    <body>
        <%- include("../partials/nav.ejs") %>
        <h1>Become A Member</h1>
        <%- include("../partials/formErrors.ejs") %>
        <form action="/membership?_method=PUT" method="post">
            <div class="form-field">
                <label for="password">Secret Membership Password</label>
                <input type="password" name="password" id="password" />
            </div>
            <button class="form-submit-button" type="submit">Submit</button>
        </form>
    </body>
</html>
