<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head.ejs") %>
    <body>
        <%- include("../partials/nav.ejs") %>
        <h1>New Post</h1>
        <%- include("../partials/formErrors.ejs") %>
        <!-- prettier-ignore -->
        <%- include("./form.ejs", { action: "/posts", submitValue: "Create Post"}) %>
    </body>
</html>
